body {
	background-color: hsl(0, 0%, 87%);
	background-image: 
	repeating-linear-gradient(45deg, transparent 5px, hsla(360, 100%, 30%, 0.5) 5px, hsla(360, 100%, 30%, 0.5) 10px, hsla(160, 53%, 60%, 0) 10px, hsla(160, 53%, 60%, 0) 35px, hsla(160, 53%, 60%, 0.5) 35px, hsla(160, 53%, 60%, 0.5) 40px, hsla(360, 100%, 30%, 0.5) 40px, hsla(360, 100%, 30%, 0.5) 50px, hsla(360, 100%, 30%, 0) 50px, hsla(360, 100%, 30%, 0) 60px, hsla(160, 53%, 60%, 0.5) 60px, hsla(160, 53%, 60%, 0.5) 70px, hsla(200, 5%, 13%, 0.5) 70px, hsla(200, 5%, 13%, 0.5) 80px, hsla(200, 5%, 13%, 0) 80px, hsla(200, 5%, 13%, 0) 90px, hsla(160, 53%, 60%, 0.5) 90px, hsla(160, 53%, 60%, 0.5) 110px, hsla(160, 53%, 60%, 0) 110px, hsla(160, 53%, 60%, 0) 120px, hsla(360, 100%, 30%, 0.5) 120px, hsla(360, 100%, 30%, 0.5) 140px), 
	repeating-linear-gradient(135deg, transparent 5px, hsla(360, 100%, 30%, 0.5) 5px, hsla(360, 100%, 30%, 0.5) 10px, hsla(160, 53%, 60%, 0) 10px, hsla(160, 53%, 60%, 0) 35px, hsla(160, 53%, 60%, 0.5) 35px, hsla(160, 53%, 60%, 0.5) 40px, hsla(360, 100%, 30%, 0.5) 40px, hsla(360, 100%, 30%, 0.5) 50px, hsla(360, 100%, 30%, 0) 50px, hsla(360, 100%, 30%, 0) 60px, hsla(160, 53%, 60%, 0.5) 60px, hsla(160, 53%, 60%, 0.5) 70px, hsla(200, 5%, 13%, 0.5) 70px, hsla(200, 5%, 13%, 0.5) 80px, hsla(200, 5%, 13%, 0) 80px, hsla(200, 5%, 13%, 0) 90px, hsla(160, 53%, 60%, 0.5) 90px, hsla(160, 53%, 60%, 0.5) 110px, hsla(160, 53%, 60%, 0) 110px, hsla(160, 53%, 60%, 0) 140px, hsla(360, 100%, 30%, 0.5) 140px, hsla(360, 100%, 30%, 0.5) 160px);
}

#container{	
	font-family: "Palatino Linotype", "Book Antiqua", Palatino, serif;
	font-size: 18px;
	margin: 100px 150px;
	box-shadow: 0 2px 5px rgba(0, 0, 0, 0.5);
}
.ui-widget-header {
	background:#b9cd6d;
	border: 1px solid #b9cd6d;
	color: #FFFFFF;
	font-weight: bold;
 }
 
 label {
	display: block;
 }
 
 select {
	width: 200px;
 }
 
 img.myphoto{
	padding-left: 15px;
	padding-right: 15px;
	float: right;
	height: 225px;
	width: 225px;
 }
 
 p.aboutme{
	margin-left: 0;
 }
 
 .social{
	margin-left: auto;
	margin-right: auto;
	width: 50%;
	font-size: 40px;
 }
 
 .social :hover{
	color: rgb(227, 109, 132);
 }
 
 .clear{ clear: both;}